@import url('https://fonts.googleapis.com/css2?family=Delius&family=Erica+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
}

form {
    width: 40%;
    background-color: antiquewhite;
    padding: 1rem;
    font-family: "Genos", sans-serif;
    font-size: 1.1rem;
}

/*DATOS DE USUARIO*/
form .f1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 5px;
}

form .f1 .contdivf1 {
    width: 40%;
}

form .f1 .contdivf1 input {
    width: 100%;
}

/*DATOS DE RESERVA*/
form .f2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5px;
    align-items: center;
}

form .f2 .reserva {
    width: 50%;
}

form .f2 p {
    width: 90%;
}

form .f2 .tipo {
    display: flex;
    margin: 0 2rem;
    gap: 1rem;
}

form legend {
    margin-left: 1rem;
    font-weight: 700;
}


form .f2 {
    margin: 1rem 0;
}

/*SERVICIOS EXTRAS*/
form .f3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    gap: 1rem;
    padding: 5px;
}

form .f3 .contExtras {
    width: 40%;
    display: flex;
    gap: 1rem;
}

form .f3 .extras {
    width: 50%;
}

form .f3 .camCheck {
    width: 90%;
    display: flex;
    gap: 1rem;
}

form .f3 .camCheck label {
    width: auto;
    margin-right: 1rem;
}

form .f3 .camSup {
    width: 90%;
}

form .f3 .tipCam {
    width: 90%;
}

form .f3 .tipCam label {
    margin-right: 2rem;
}

form .f3 textarea {
    width: 90%;
    padding: 1rem;
}

form .btn {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

form .btn input {
    padding: 2px 5px;
}


/*valores del formulario*/
.datValues {
    border: 1px dashed black;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

}

.contDatosDinamicos {
    color: #555;
    background-color: whitesmoke;
    border: 2px dashed #555;
    flex-direction: column;
    gap: .4rem;
    padding: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.campo {
    font-weight: 700;
}

.valor {
    margin-left: .5rem;
    color: rgb(26, 116, 3);
}

/*---spiner-----*/

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cargando {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    border-top: 6px solid #3498db;
    animation: girar 0.8s linear infinite;
}

/*------------------*/
.error {
    color: red;
    font-size: 0.9rem;
}

.inputError {
    border: 1px solid red;
}

/*----boton cerrar*/
.btnClosed{
    color:whitesmoke;
    background-color: red;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid red;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

#contSpinner {
  display: none;
  text-align: center;
  margin: 40px 0;
}